body {
  background:url('background.jpg');
}
h1{
  font-family: 'Courgette', cursive;
  font-size: 5em;
  border: 3px;
  text-align: center;
}
h3 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 2.5em;
  text-align: center;
}
.planet {
  background-color: #BDBCF0;
  font-family: 'Flamenco', cursive;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
table {
  font-family: 'Raleway', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
tr {
  border: 0px;
}
th {
  background-color: #402A72;
  font-size: 1.1em;
  width: 80px;
  padding: 20px 5px 20px 5px;
  text-align: center;
  border: 1px solid #120D24;
}
td {
  background-color: #white;
  font-size: 1.1em;
  padding: 20px 10px 20px 10px;
  text-align: left;
  border: 1px solid #120D24;
}